html,
body {
  background-color: hsl(257, 40%, 49%);
  overflow: hidden;
}

.logo {
  position: absolute;
  z-index: 99;
  margin: 30px 0 0 50px;
}

.mockup {
  position: absolute;
  z-index: 99;
  margin: -650px 0 0 50px;
}

.attribution {
  position: absolute;
  z-index: 99;
  margin: -50px 0 0 550px;
}

.build {
  font-family: "Poppins", sans-serif;
  position: absolute;
  z-index: 99;
  color: white;
  font-size: 50px;
  margin: -610px 0 0 850px;
}

.fans {
  font-family: "Poppins", sans-serif;
  position: absolute;
  z-index: 99;
  color: white;
  font-size: 50px;
  margin: -540px 0 0 850px;
}

.huddle {
  font-family: "Open Sans", sans-serif;
  position: absolute;
  z-index: 99;
  color: white;
  margin: -450px 0 0 850px;
  width: 465px;
}

#searchbtn {
  padding: 5px 35px 0 50px;
  margin: -350px 0 100px 850px;
  color: hsl(257, 40%, 49%);
  background: white;
  font-size: 20px;
  font-weight: 500;
  min-height: 60px;
  height: 50px;
  border-radius: 40px 40px 40px 40px !important;
  position: absolute;
  z-index: 99;
  width: 250px;
}

.icons {
  position: absolute;
  z-index: 99;
  margin: -100px 0 0 1250px;
}

@media (max-width: 450px) {
  html,
  body {
    background-color: hsl(257, 40%, 49%);
    background-image: url("./images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: 1500px 1500px;
  }

  .logo {
    position: absolute;
    z-index: 99;
    margin: 30px 0 0 70px;
    width: 700px;
  }

  .mockup {
    position: absolute;
    z-index: 99;
    margin: -650px 0 0 70px;
    width: 1200px;
  }

  .bg {
    visibility: hidden;
  }

  .attribution {
    position: absolute;
    z-index: 99;
    margin: -50px 0 0 550px;
  }

  .build {
    font-family: "Poppins", sans-serif;
    position: absolute;
    z-index: 99;
    color: white;
    font-size: 95px;
    margin: 300px 0 0 150px;
    width: 1500px;
  }

  .fans {
    font-family: "Poppins", sans-serif;
    position: absolute;
    z-index: 99;
    color: white;
    font-size: 95px;
    margin: 420px 0 0 200px;
    width: 1500px;
  }

  .huddle {
    font-family: "Open Sans", sans-serif;
    position: absolute;
    z-index: 99;
    color: white;
    margin: 580px 0 0 130px;
    width: 1000px;
    text-align: center;
    font-size: 50px;
  }

  #searchbtn {
    padding: 5px 35px 0 50px;
    margin: 1000px 0 100px 300px;
    color: hsl(257, 40%, 49%);
    background: white;
    font-size: 40px;
    font-weight: 500;
    min-height: 60px;
    height: 120px;
    border-radius: 50px 50px 50px 50px !important;
    position: absolute;
    z-index: 99;
    width: 650px;
  }

  .icons {
    position: absolute;
    margin: 1400px 0 0 550px;
    width: 500px;
    font-size: 550px;
  }

  .attribution {
    margin: 1500px 0 0 250px;
    width: 1500px;
    font-size: 40px;
  }

  .mobile {
    background-image: url("./images/bg-mobile.svg");
  }
}
